.allText{
    margin-top: 60px;
    margin-right: ;
}
.textTen{
    font-family: Larsseit;
font-size: 14px;
line-height: 23px;
letter-spacing: -0.006em;

color: rgba(34, 53, 111, 0.5);
}
.zoga{
    font-family: Larsseit;
font-size: 14px;
line-height: 11px;
letter-spacing: -0.006em;

color: #22356F;
}