.Theme{
    font-family: Larsseit;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
    
}
.textOne{
    
font-family: Larsseit;
font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;
color: rgba(34, 53, 111, 0.5);
}
.ttt p{
    /* width: 400px; */

}